<%= link_to section_path(section), class: "p-6 md:p-8 md:flex group border border-slate-100 rounded-lg shadow-sm transition-all duration-300 ease-out hover:border-slate-200 hover:bg-slate-900 dark:bg-slate-800 dark:highlight-white/5 dark:hover:bg-slate-700 dark:border-slate-800" do %>
  <div class="shrink-0 mb-6 md:mr-6 w-8 h-8 flex items-center justify-center rounded-md bg-slate-100 text-slate-400 dark:ring-0 dark:shadow-none dark:bg-slate-700 dark:highlight-white/5">    
    <% case section.category %>
    <% when "instance_method" %>
      <%= heroicon 'hashtag', options: { class:"h-5 w-5 m-1.5" } %>
    <% when "class_method" %>
      <p class="pb-1 text-lg">: :</p>
    <% end %>
  </div>
  <div>
    <p class="text-md font-medium line-clamp-1 text-slate-900 tracking-tight dark:text-slate-200 group-hover:text-white"><%= section.name %></p>
    <p class="text-slate-400 mt-2 text-sm"><%= section.summary %></p>
    <div class='transition-all duration-300 ease-out px-3 py-1.5 inline-flex rounded bg-yellow-50 dark:bg-slate-700 text-yellow-500 group-hover:text-yellow-500 group-hover:bg-white dark:group-hover:bg-slate-600 text-sm font-medium items-center mt-4 dark:text-yellow-400 dark:group-hover:text-yellow-400'>
      Read docs
      <%= heroicon 'arrow-right-circle', variant: :mini, options: { class:"h-4 w-4 ml-1 transition-all duration-300 ease-out group-hover:ml-2" } %>
    </div>
  </div>
<% end %>