<% set_meta_tags title: "#{@section.klass.name} #{@section.formatted_name}",
                 description: @section.summary,
                 keywords: "#{@section.name}, #{@section.klass.name} #{@section.formatted_name}, #{@section.category_header}, #{@section.klass.name}, Ruby version #{@section.version.number}, Ruby v#{@section.version.number}, Ruby, Ruby docs" %>

<% content_for :sub_nav do %>
  <%= render "components/documentation/sub_nav" %>
<% end %>

<% content_for :side_nav do %>
  <%= render "components/documentation/side_nav" %>
<% end %>

<div class="p-4">
  <header id="header" class="relative z-20 mb-8">
    <% if policy(@section).update? || policy(@section).destroy? %>
      <div class="border border-slate-200 bg-slate-50 p-4 rounded-lg mb-8 flex items-center justify-between">
        <div class="flex items-center text-slate-500">
          <%= heroicon "lock-closed", variant: :mini, options: { class: "mr-2" } %>
          <h4 class="text-sm font-medium">Only admins can view these options</h4>
        </div>
        <div class="flex items-center text-gray-500 space-x-2 text-sm font-medium">
          <% link_classes = "px-3 py-1.5 text bg-transparent hover:bg-black hover:bg-opacity-5 rounded-md flex items-center" %>
          <% if policy(@section).update? %>
            <%= link_to edit_section_path(@section), class: link_classes do %>
              <%= heroicon "pencil", variant: :mini, options: { class: "mr-1" } %>
              Edit
            <% end %>
          <% end %>
          <% if policy(@section).destroy? %>
            <%= link_to section_path(@section), data: { turbo_method: "delete", turbo_confrim: "Are you sure? You can't undo this action." }, class: link_classes do %>
              <%= heroicon "trash", variant: :mini, options: { class: "mr-1" } %>
              Delete
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div>
      <p class="mb-2 text-sm leading-6 font-semibold text-primary-500 dark:text-primary-400"><%= @section.category_header&.singularize&.capitalize %></p>
      <div class="flex items-center">
        <h1 class="inline-block text-2xl sm:text-3xl font-bold text-slate-900 tracking-tight dark:text-slate-200"><%= @section.formatted_name %></h1>
      </div>
    </div>
    <p class="mt-2 text-lg text-slate-700 dark:text-slate-400"><%= @section.summary %></p>
  </header>
  <div>
    <h2 class="mb-2 text-sm leading-6 font-semibold text-primary-500 dark:text-primary-400">How to use</h2>
    <div>
      <div class="flex items-center">
        <h3 class="text-xl font-medium tracking-tight dark:text-slate-200">Quick guide</h3>
        <div data-controller="popover">
          <%= render 'components/documentation/check_mark', text: "Official content" %>
          <div data-popover-target="content" class="hidden">
            <%= render 'components/popovers/container' do %>
              <div class="flex">
                <div class="shrink-0 pr-4">
                  <%= heroicon 'question-mark-circle', options: { class:"h-6 w-6 text-yellow-500 dark:text-yellow-400" } %>
                </div>
                <div class="space-y-4">
                  <div>
                    <span class="text-md block font-medium mb-1.5 tracking-tight dark:text-white m-0">Official how?</span>
                    <span class="block m-0 text-slate-600 dark:text-slate-400">I scraped all this data from the <%= link_to 'official documentation', 'http://www.ruby-doc.org', target: :_blank, class: "font-medium text-slate-900 border-b border-primary-500 hover:border-b-2 dark:text-white" %>. I created this site to make it easier for beginners and more pleasant for professionals to use Ruby.</span>
                  </div>
                  <div class="flex items-center mt-4">
                    <img class="shrink-0 mr-2 inline-block h-8 w-8 rounded-full ring-1 ring-white" src="https://avatars.githubusercontent.com/u/34521157?s=60&v=4" alt="">
                    <div>
                      <p class="text-sm tracking-tight font-medium dark:text-slate-200">Georgie boy</p>
                      <p class="text-xs text-slate-600 dark:text-slate-400">Creator of ruby-docs.org</p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="-mt-2">
        <%= @section.rubydocs_says %>
      </div>
    </div>
  </div>
  <% if @section.source_code.body.present? %>
    <div class="mt-8">
      <h2 class="mb-2 text-sm leading-6 font-semibold text-primary-500 dark:text-primary-400">Source code</h2>
      <div>
        <h3 class="text-xl font-medium tracking-tight dark:text-slate-200">Method source code</h3>
        <div class="mt-6">
          <%= @section.source_code %>
        </div>
      </div>
    </div>
  <% end %>
</div>
