<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="bg-white dark:bg-gray-900">
    <%= render 'shared/navbar' %>
    <main class="container px-4 mx-auto max-w-screen-xl">
      <%= yield %>
    </main>
    <%= render 'shared/flashes/flashes' %>
  </body>
</html>