<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class="bg-white dark:bg-gray-900">
    <%= render 'shared/navbar' %>
    <div class="overflow-hidden">
      <div class="max-w-8xl mx-auto px-4 sm:px-6 md:px-8">
          <div class="hidden lg:block fixed z-20 inset-0 top-[3.8125rem] left-[max(0px,calc(50%-45rem))] right-auto w-[19.5rem] pb-10 px-8 overflow-y-auto">
            <nav id="nav" class="lg:text-sm lg:leading-6 relative">
                <%= yield :side_nav %>
            </nav>
          </div>
          <div class="lg:pl-[19.5rem]">
            <main class="max-w-3xl mx-auto relative z-20 pt-10 xl:max-w-none">
              <%= yield %>
            </main>
          </div>
      </div>
    </div>
    <%= render 'shared/flashes/flashes' %>
  </body>
</html>

