<% content_for :sub_nav do %>
  <%= render "components/documentation/sub_nav" %>
<% end %>

<% content_for :side_nav do %>
  <%= render "components/documentation/side_nav" %>
<% end %>

<div class="p-4">
  <header id="header" class="relative z-20">
    <% if current_user&.admin? %>
      <div class="border border-slate-200 bg-slate-50 p-4 rounded-lg mb-8 flex items-center justify-between">
        <div class="flex items-center text-slate-500">
          <%= render 'icons/lock', classes: "h-4 w-4 mr-2" %>
          <h4 class="text-sm font-medium">Only admins can view this</h4>
        </div>
        <div class="flex items-center text-gray-900 space-x-2 text-sm font-medium">
          <div class="flex items-center text-gray-900 space-x-2 text-sm font-medium">
            <%= link_to new_klass_section_path(@klass), class: "text-contrast-600 bg-contrast-100 border border-contrast-200 hover:text-white hover:bg-contrast-600 hover:border-white px-3 py-2 rounded-full flex items-center justify-center rounded-full shadow-none hover:shadow-sm transform translate-y-0 hover:-translate-y-0.5 transition-all duration-200 ease-out" do %>
              <%= render 'icons/circle', classes: "h-4 w-4 mr-1" %>
              Add section
            <% end %>
          </div>
          <%= link_to edit_klass_path(@klass), class: "text-slate-500 hover:text-yellow-500 px-3 py-2 rounded-full flex items-center justify-center rounded-full border border-slate-200 bg-white shadow-none hover:shadow-sm transform translate-y-0 hover:-translate-y-0.5 transition-all duration-200 ease-out" do %>
            <%= render 'icons/edit', classes: "h-4 w-4 mr-1" %>
            Edit
          <% end %>
          <%= link_to klass_path(@klass), data: { turbo_method: "delete", turbo_confrim: "Are you sure? You can't undo this action." }, class: "text-slate-500 hover:text-rose-500 px-3 py-2 rounded-full flex items-center justify-center rounded-full border border-slate-200 bg-white shadow-none hover:shadow-sm transform translate-y-0 hover:-translate-y-0.5 transition-all duration-200 ease-out" do %>
            <%= render 'icons/trash', classes: "h-4 w-4 mr-1" %>
            Delete
          <% end %>
        </div>
      </div>
    <% end %>
    <div>
      <p class="mb-2 text-sm leading-6 font-semibold text-primary-500 dark:text-primary-400">Getting started</p>
      <div class="flex items-center">
        <h1 class="inline-block text-2xl sm:text-3xl font-bold text-slate-900 tracking-tight dark:text-slate-200"><%= @klass.name %></h1>
      </div>
    </div>
    <p class="mt-2 text-lg text-slate-700 dark:text-slate-400">Condensed explanation to give an idea</p>
  </header>
</div>